<%= link_to('<< Back to Grok', {:action => 'new'}, :class => 'back-link') %>

<%= form_for(@theme, :url => {:action => :update, :id => @theme.id}) do |f| %>
<div class="field">
    <%= f.label :keyword %><br>
    <%= f.text_area :keyword %>
  </div>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Index', themes_path %>