<title><%= full_title(yield(:title)) %></title>
<p id="notice"><%= notice %></p>
<h3><%= @theme.keyword %></h3>
 <div class="row">
  
          
          <div id = "grok_div"></div>
          <%= render @theme.groks %>

</div>

<ul>
<%= will_paginate @groks %>
</ul>
<%= link_to 'Back', themes_path %><br>
 <% if current_user.try(:admin?) %>
<%= link_to 'Add New', new_theme_path %>
<% end %>