<p>Add Movie</p>
    <div class ="row">
      <div class="span6 offset3">
      <div class="container">
    <%= form_for(@movie) do |f| %>
  <%= render "shared/error_messages", object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :summary %>
      <%= f.text_field :summary %>

      <%= f.label :year %>
      <%= f.text_field :year %>

      <%= f.label :movie_image_url %>
      <%= f.text_field :movie_image_url %>

      <%= f.label :movie_trailer_url %>
      <%= f.text_field :movie_trailer_url %>
    
      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
      <% end %>
   </div>
  </div>

</div>