<form class="form-inline" role="form" 
      <%= form_for(@movie) do |f| %>
   <%= render "shared/error_messages", object: f.object %> 
   
   <div class="form-group">
   	  <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :summary %>
      <%= f.text_field :summary %>

      <%= f.label :year %>
      <%= f.text_field :year %>

      <%= f.label :movie_image_url %>
      <%= f.text_field :movie_image_url %>

      <%= f.label :movie_trailer_url %>
      <%= f.text_field :movie_trailer_url %>
<div class="actions">
  <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      <% end %>
    <a href="/">Cancel</a>
</div>
<% end %>
</form>