<title><%= full_title(yield(:title)) %></title>
<h1>Movies</h1>
<br>
 <% @movies.each_slice(4) do |movies| %>
    <div class="row" id="movies">
    <% movies.each do |movie| %>
     <div class="col-sm-6 col-md-6 col-lg-3">
        <%= link_to image_tag(movie.movie_image_url, size:"225x315"), movie %><br>
        <p class="wrap"><%= movie.title %> (<%= movie.year %>)</p>

        <p>Groks <%= movie.groks.count %></p>
          <% if signed_in? && current_user.admin? %>
            <span><%= link_to 'Delete', {:action => 'destroy', :id => movie.id}, method: :delete, data: {confirm: 'Are you sure you want to permanently delete this movie?'} %></span>
          <% end %>
<br>
          
        </div> 
        
      <% end %>
      </div> 
  <% end %>


<ul>
 <% will_paginate %>
</ul>