<title><%= full_title(yield(:title)) %></title>
<h1>Sign In</h1>

<form class="form-inline" role="form" 
	<%= form_tag(:action => 'attempt_signin')  do %>
			<div class="form-group">
					<%= label_tag(:email) %>
					<%= text_field_tag "email", nil, placeholder: "Enter email", class: "form-control" %>
			</div>
			<div class="form-group">
					<%= label_tag(:password) %>
					<%= password_field_tag "password", nil, placeholder: "Password", class: "form-control" %>
					<%= link_to "forget password?", new_notifier_path %>
			</div>
			<div class="form-group">
			<%= submit_tag(value = "Sign In", {class: "btn btn-large btn-primary"}) %>
		  </div>
			<div class="form-group">
			<div class="checkbox"
					<%= label_tag(:remember_me) %>
					<%= check_box_tag(:remember_me, 1, params[:remember_me]) %>
			</div>
				</div>
	<% end %>
	<div class="form-group">
			<p>Not yet a member? <%= link_to "Sign up now!", signup_path %>
		</div>
</form>