  <ul class="groks">
        <div id="panel" class="panel panel-default">  
            <span class="theme"><h1><%= link_to grok.theme.keyword, grok.theme %></h1></span>   
                <li id="grok<%= grok.id %>">
                <%= render "shared/error_messages", object: grok %> 
                 <div class="movie">
                <span class="center"><%= link_to image_tag(grok.movie.movie_image_url, size:"145x215", alt: grok.movie.title + "-"), grok.movie %></span>
                </div>
           
          <span class="title"><p1><i class="fa fa-quote-left"></i> <%= grok.title %> <i class="fa fa-quote-right"></i> </p1></span>
  
              <ul class="media-list">    
                <li class="media">
            
               <div class="audio">
                <% if grok.audio.exists? %>    
                  <audio id="myAudio" class="player" controls="true" oncanplaythrough="console.log('Can play through audio without stopping')" preload="none">
                      <%= audio_tag(grok.audio.url + grok.created_at.to_s) %>
                        <source src= <%= grok.audio.url %> type="audio/wav">
                        <source src= <%= grok.audio.url %> id="source" type="audio/mpeg"> 
                        <p>Your browser does not support playback.</p>
                  </audio>  
                <% end %>
          </div> 
      
              </li> 
          </ul>

      </li>

    </div>
  </ul>

    <div class="actions">
        <% if signed_in? && (current_user?(grok.user) || current_user.admin?) %>
        <%= link_to "delete", grok, method: :delete,
                      data: { confirm: "Are you sure?" } %>
        <% end %>

    </div> 
    <%= render partial: "shared/grok_dropup", locals: { grok: grok} %> 