<footer class="footer">
  <small>
    <a href="http://moviegroks.herokuapp.com/">Moviegroks</a>
  	| &copy; moviegroks.com | Created by <a href="http://swigswag.com/">Swig Swag</a>
  </small>
  <nav>
    <ul class="breadcrumb">
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "FAQs", faqs_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Terms", terms_path %></li>
      <li><%= link_to "Privacy", privacy_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>